.App{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 20px 10px;
}
body{
  background-color: black;
  color: white;
}
.head{
  padding: 20px 0px 0px 20px;
}
.todo-list{
  padding: 20px 0px 20px 20px;
}
.listname{
  margin: 20px 0px 20px 0px;
}
.padding{
  height: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
